
<h4 class="sidebar-table-header"> Activity by Branch </h4>

<div class="row control-panel">
    <div class="col-xs-4">
        <label> Show Branches on Map </label>
        {{view App.ToggleSwitch checkedBinding="visible"}}
    </div>
    <div class="col-xs-4">
        <button class="btn btn-sidebar" {{action "export_data"}}>
            Export
        </button>
    </div>
</div>

{{#if table_data}}
    {{#if eub}}
        <span style="color:red;text-align:right;"> Values accurate &plusmn; {{eub}} </span>
    {{/if}}
    <div class="table-container" id="branch-table">
        {{
            table-component
            hasFooter        = false
            forceFillColumns = true
            columnsBinding   = "table_columns"
            contentBinding   = "table_data"
            onClick          = table_onClick
            onMouseEnter     = table_onMouseEnter
            onMouseLeave     = table_onMouseLeave
            con              = controller
            rowHeight = 60
        }}
    </div>
{{else}}
    <h4 class="sidebar-table-header">
        {{#if client.loading}}
            Loading...
        {{else}}
            No Selection or No Data
            <br>
            <small style="color:#4C4C4C;">
                (Note: This view requires 'fin_inst_branch' on the SARs to be enabled.)
            </small>
        {{/if}}
    </h4>
{{/if}}

